@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
body, html {
  overflow: hidden
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
 
  width: 100%;
  height: 100vh;

  transition: 0.4s ease-in-out;
}

#__next-prerender-indicator {
  display: none;
}

canvas {
  width: 100%;
  height: 100vh;
}